<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>00</key>
	<dict>
		<key>weather</key>
		<string>晴</string>
		<key>icon</key>
		<string>weather_sunny</string>
		<key>colors</key>
		<array>
			<string>#2b54cb</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>01</key>
	<dict>
		<key>weather</key>
		<string>多云</string>
		<key>icon</key>
		<string>weather_cloudy</string>
		<key>colors</key>
		<array>
			<string>#8da8cf</string>
			<string>#738cf8</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>02</key>
	<dict>
		<key>weather</key>
		<string>阴</string>
		<key>icon</key>
		<string>weather_cloudy</string>
		<key>colors</key>
		<array>
			<string>#dddddd</string>
			<string>#738cf8</string>
			<string>#5d99ef</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>03</key>
	<dict>
		<key>weather</key>
		<string>阵雨</string>
		<key>icon</key>
		<string>weather_lightrain</string>
		<key>colors</key>
		<array>
			<string>#0c285d</string>
			<string>#3e69c0</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>04</key>
	<dict>
		<key>weather</key>
		<string>雷阵雨</string>
		<key>icon</key>
		<string>weather_thundershower</string>
		<key>colors</key>
		<array>
			<string>#0c285d</string>
			<string>#3e69c0</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>05</key>
	<dict>
		<key>weather</key>
		<string>雷阵雨伴有冰雹</string>
		<key>icon</key>
		<string>weather_thundershowerandhail</string>
		<key>colors</key>
		<array>
			<string>#0c285d</string>
			<string>#3e69c0</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>06</key>
	<dict>
		<key>weather</key>
		<string>雨夹雪</string>
		<key>icon</key>
		<string>weather_sleet</string>
		<key>colors</key>
		<array>
			<string>#dddddd</string>
			<string>#738cf8</string>
			<string>#5d99ef</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>07</key>
	<dict>
		<key>weather</key>
		<string>小雨</string>
		<key>icon</key>
		<string>weather_lightrain</string>
		<key>colors</key>
		<array>
			<string>#698ed7</string>
			<string>#719edf</string>
			<string>#2b54cb</string>
		</array>
	</dict>
	<key>08</key>
	<dict>
		<key>weather</key>
		<string>中雨</string>
		<key>icon</key>
		<string>weather_lightrain</string>
		<key>colors</key>
		<array>
			<string>#698ed7</string>
			<string>#719edf</string>
			<string>#2b54cb</string>
		</array>
	</dict>
	<key>09</key>
	<dict>
		<key>weather</key>
		<string>大雨</string>
		<key>icon</key>
		<string>weather_heavyrain</string>
		<key>colors</key>
		<array>
			<string>#0b2782</string>
			<string>#2f5cb8</string>
			<string>#7784b5</string>
		</array>
	</dict>
	<key>10</key>
	<dict>
		<key>weather</key>
		<string>暴雨</string>
		<key>icon</key>
		<string>weather_heavyrain</string>
		<key>colors</key>
		<array>
			<string>#0b2782</string>
			<string>#2f5cb8</string>
			<string>#7784b5</string>
		</array>
	</dict>
	<key>11</key>
	<dict>
		<key>weather</key>
		<string>大暴雨</string>
		<key>icon</key>
		<string>weather_heavyrain</string>
		<key>colors</key>
		<array>
			<string>#0b2782</string>
			<string>#2f5cb8</string>
			<string>#7784b5</string>
		</array>
	</dict>
	<key>12</key>
	<dict>
		<key>weather</key>
		<string>特大暴雨</string>
		<key>icon</key>
		<string>weather_heavyrain</string>
		<key>colors</key>
		<array>
			<string>#0b2782</string>
			<string>#2f5cb8</string>
			<string>#7784b5</string>
		</array>
	</dict>
	<key>13</key>
	<dict>
		<key>weather</key>
		<string>阵雪</string>
		<key>icon</key>
		<string>weather_lightsnow</string>
		<key>colors</key>
		<array>
			<string>#8fbafa</string>
			<string>#5d99ef</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>14</key>
	<dict>
		<key>weather</key>
		<string>小雪</string>
		<key>icon</key>
		<string>weather_lightsnow</string>
		<key>colors</key>
		<array>
			<string>#8fbafa</string>
			<string>#5d99ef</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>15</key>
	<dict>
		<key>weather</key>
		<string>中雪</string>
		<key>icon</key>
		<string>weather_lightsnow</string>
		<key>colors</key>
		<array>
			<string>#8fbafa</string>
			<string>#5d99ef</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>16</key>
	<dict>
		<key>weather</key>
		<string>大雪</string>
		<key>icon</key>
		<string>weather_heavysnow</string>
		<key>colors</key>
		<array>
			<string>#dddddd</string>
			<string>#738cf8</string>
			<string>#5d99ef</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>17</key>
	<dict>
		<key>weather</key>
		<string>暴雪</string>
		<key>icon</key>
		<string>weather_heavysnow</string>
		<key>colors</key>
		<array>
			<string>#dddddd</string>
			<string>#738cf8</string>
			<string>#5d99ef</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>18</key>
	<dict>
		<key>weather</key>
		<string>雾</string>
		<key>icon</key>
		<string>weather_fog</string>
		<key>colors</key>
		<array>
			<string>#93b8ee</string>
			<string>#adc2ee</string>
			<string>#5d99ef</string>
		</array>
	</dict>
	<key>19</key>
	<dict>
		<key>weather</key>
		<string>冻雨</string>
		<key>icon</key>
		<string>weather_sleet</string>
		<key>colors</key>
		<array>
			<string>#0b2782</string>
			<string>#2f5cb8</string>
			<string>#7784b5</string>
		</array>
	</dict>
	<key>20</key>
	<dict>
		<key>weather</key>
		<string>沙尘暴</string>
		<key>icon</key>
		<string>weather_sandstorm</string>
		<key>colors</key>
		<array>
			<string>#96b1b1</string>
			<string>#5d99ef</string>
			<string>#5d99ef</string>
		</array>
	</dict>
	<key>21</key>
	<dict>
		<key>weather</key>
		<string>小雨-中雨</string>
		<key>icon</key>
		<string>weather_lightrain</string>
		<key>colors</key>
		<array>
			<string>#698ed7</string>
			<string>#719edf</string>
			<string>#2b54cb</string>
		</array>
	</dict>
	<key>22</key>
	<dict>
		<key>weather</key>
		<string>中雨-大雨</string>
		<key>icon</key>
		<string>weather_heavyrain</string>
		<key>colors</key>
		<array>
			<string>#0b2782</string>
			<string>#2f5cb8</string>
			<string>#2b54cb</string>
		</array>
	</dict>
	<key>23</key>
	<dict>
		<key>weather</key>
		<string>大雨-暴雨</string>
		<key>icon</key>
		<string>weather_heavyrain</string>
		<key>colors</key>
		<array>
			<string>#0b2782</string>
			<string>#2f5cb8</string>
			<string>#2b54cb</string>
		</array>
	</dict>
	<key>24</key>
	<dict>
		<key>weather</key>
		<string>暴雨-大暴雨</string>
		<key>icon</key>
		<string>weather_heavyrain</string>
		<key>colors</key>
		<array>
			<string>#0b2782</string>
			<string>#2f5cb8</string>
			<string>#2b54cb</string>
		</array>
	</dict>
	<key>25</key>
	<dict>
		<key>weather</key>
		<string>大暴雨-特大暴雨</string>
		<key>icon</key>
		<string>weather_heavyrain</string>
		<key>colors</key>
		<array>
			<string>#0b2782</string>
			<string>#2f5cb8</string>
			<string>#2b54cb</string>
		</array>
	</dict>
	<key>26</key>
	<dict>
		<key>weather</key>
		<string>小雪-中雪</string>
		<key>icon</key>
		<string>weather_lightsnow</string>
		<key>colors</key>
		<array>
			<string>#8fbafa</string>
			<string>#5d99ef</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>27</key>
	<dict>
		<key>weather</key>
		<string>中雪-大雪</string>
		<key>icon</key>
		<string>weather_heavysnow</string>
		<key>colors</key>
		<array>
			<string>#dddddd</string>
			<string>#738cf8</string>
			<string>#5d99ef</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>28</key>
	<dict>
		<key>weather</key>
		<string>大雪-暴雪</string>
		<key>icon</key>
		<string>weather_heavysnow</string>
		<key>colors</key>
		<array>
			<string>#dddddd</string>
			<string>#738cf8</string>
			<string>#5d99ef</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>29</key>
	<dict>
		<key>weather</key>
		<string>浮沉</string>
		<key>icon</key>
		<string>weather_drifting</string>
		<key>colors</key>
		<array>
			<string>#8da8cf</string>
			<string>#738cf8</string>
			<string>#719edf</string>
		</array>
	</dict>
	<key>30</key>
	<dict>
		<key>weather</key>
		<string>扬沙</string>
		<key>icon</key>
		<string>weather_drifting</string>
		<key>colors</key>
		<array>
			<string>#93b8ee</string>
			<string>#c0c0be </string>
			<string>#5d99ef</string>
		</array>
	</dict>
	<key>31</key>
	<dict>
		<key>weather</key>
		<string>强沙尘暴</string>
		<key>icon</key>
		<string>weather_sandstorm</string>
		<key>colors</key>
		<array>
			<string>#93b8ee</string>
			<string>#c0c0be </string>
			<string>#5d99ef</string>
		</array>
	</dict>
	<key>32</key>
	<dict>
		<key>weather</key>
		<string>霾</string>
		<key>icon</key>
		<string>weather_drifting</string>
		<key>colors</key>
		<array>
			<string>#8da8cf</string>
			<string>#738cf8</string>
			<string>#719edf</string>
		</array>
	</dict>
    <key>53</key>
    <dict>
        <key>weather</key>
        <string>霾</string>
        <key>icon</key>
        <string>weather_drifting</string>
        <key>colors</key>
        <array>
            <string>#263345</string>
            <string>#09365f</string>
            <string>#0a3672</string>
        </array>
    </dict>
</dict>
</plist>
